{% extends "dj_design_system/gallery/base.html" %}

{% block title %}
    {% if doc_label %}
        {{ doc_label }}
    {% elif node %}
        {{ node.label }}
    {% endif %}
    — {{ design_system_name }}
{% endblock %}

{% block breadcrumb %}
    {% include "dj_design_system/gallery/breadcrumb.html" %}
{% endblock %}

{% block content %}
    <div class="gallery-page">
        <div class="gallery-docs">
            <div class="gallery-markdown">{{ doc_html|safe }}</div>
        </div>
    </div>
{% endblock %}
